# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{ts,tsx}]
indent_style = tab
trim_trailing_whitespace = true

[*.yml]
indent_style = space
indent_size = 2
